.forgot-container.space-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

.forgot-box.glass-effect {
  width: 100%;
  max-width: 28rem;
  padding: 2rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
}

.forgot-title {
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.forgot-btn {
  background-color: #7f5af0 !important;
  color: white;
  font-weight: bold;
  margin-top: 1rem;
  letter-spacing: 0.5px;
}

.otp-section {
  margin-top: 2rem;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.1);
  padding: 1rem;
  border-radius: 0.75rem;
}

.otp-label {
  color: #bbb;
  margin-bottom: 0.5rem;
}

.otp-inputs {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  margin: 1rem 0;
}

.otp-box {
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  font-size: 1.25rem;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #999;
  border-radius: 0.5rem;
}

.otp-btn {
  background-color: #4ade80 !important;
  font-weight: bold;
}

.otp-btn-resend-btn {
  background-color: transparent;
  border: 1px solid #7f5af0;
  font-weight: bold;
  color: white !important;
}
