.login-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  position: relative;
  top: 100px;
}

.login-box {
  width: 450px;
  padding: 24px;
  border-radius: 12px;
}

.login-btn {
  background-color: #222;
  color: white;
  margin-top: 16px;
}

.links {
  text-align: center;
  margin-top: 12px !important;
}

.links a {
  color: #333;
  text-decoration: none;
}
