.navbar-1 {
  background-color: #a977ee;
  height: 144px;
  mix-blend-mode: difference;
  position: relative;
  left: -41px;
  width: 1550px;
  align-self: stretch;
}

.navbar-1 .items {
  align-items: center;
  display: inline-flex;
  gap: var(--variable-collection-spacing-m);
  justify-content: flex-end;
  left: 930px;
  position: absolute;
  top: 58px;
}

.navbar-1 .text-wrapper {
  color: #000000;
  font-family: var(--body-text-font-family);
  font-size: var(--body-text-font-size);
  font-style: var(--body-text-font-style);
  font-weight: var(--body-text-font-weight);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  position: relative;
  bottom: 15px;
  white-space: nowrap;
  width: fit-content;
}

.navbar-1 .login-signup {
  align-items: center;
  background-color: #c17875;
  border-radius: 8px;
  box-shadow: var(--button-shadow);
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  padding: 14px 24px;
  position: relative;
  bottom: 15px;
}

.navbar-1 .div {
  color: #ffffff;
  font-family: var(--small-text-font-family);
  font-size: var(--small-text-font-size);
  font-style: var(--small-text-font-style);
  font-weight: var(--small-text-font-weight);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.navbar-1 .text-wrapper-2 {
  color: black;
  font-family: "Inter-Medium",Arial, Helvetica, sans-serif;
  font-size: 64px;
  font-weight: 500;
  height: 96px;
  left: 23px;
  letter-spacing: 0;
  line-height: 96px;
  position: absolute;
  top: 18px;
  white-space: nowrap;
}
