.settings-container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background-color: transparent;
}

.settings-title {
    margin-bottom: 20px;
}

.settings-section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: transparent !important;
}
