.cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* 32px spacing between cards */
  width: 90vw;
  padding: 2rem;
  box-sizing: border-box;
  margin-top: 4rem !important;
  margin: 4rem;
}



.cards .text-wrapper-23 {
  font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: #E3F2FD;
    font-size: 3rem;
}

.cards .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.cards .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 50vw;
  height: 50vh;
}

.cards .swiper-slide img {
  display: block;
  width: 100%;
}
