.section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* 32px spacing between cards */
  width: 100vw;
  padding: 2rem;
  padding-left: 7rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.section .buttons {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 1.67rem; /* 24px */
 /* 80px */
  max-width: 100%;
  box-sizing: border-box;
}

.section .button,
.section .button-1 {
  all: unset;
  align-items: center;
  background-color: #000000;
  border-radius: 0.56rem; /* 8px */
  box-shadow: var(--button-shadow);
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 0.56rem; /* 8px */
  padding: 1.39rem 2.22rem; /* 20px 32px */
  cursor: pointer;
}

.section .text-wrapper {
  color: #ffffff;
  font-family: "Inter-Medium", Helvetica, sans-serif;
  font-size: 1.67rem; /* 24px */
  font-weight: 500;
  letter-spacing: 0;
  line-height: 2.57rem; /* 36px */
  margin-top: -0.07rem; /* -1px */
  white-space: nowrap;
  width: fit-content;
}

.section .button-1 {
  background-color: #e6e6e6;
}

.section .div {
  color: #000000e6;
  font-family: "Inter-Medium", Helvetica, sans-serif;
  font-size: 1.67rem; /* 24px */
  font-weight: 500;
  letter-spacing: 0;
  line-height: 2.57rem; /* 36px */
  margin-top: -0.07rem; /* -1px */
  white-space: nowrap;
  width: fit-content;
}

.section .text-wrapper-2 {
  font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: #E3F2FD;
    font-size: 3rem;
    margin-right: 25vw;
}
