@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');


.navigation {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: #ffffff;
  height: 14vh; /* 144px */
  left: 0%; /* -41px */
  width: 100%; /* 1550px relative to 1440px base width */
  align-self: stretch;
  display: flex;
  flex-direction: column;
}

.navigation .items {
  align-items: center;
  display: inline-flex;
  gap: var(--variable-collection-spacing-m);
  justify-content: flex-end;
  left: 68vw; /* 930px */
  position: absolute;
  top: 6vh; /* 58px */
}

.navigation .text-wrapper {
  color: #00ffe0;
  font-family: var(--body-text-font-family);
  font-size: var(--body-text-font-size);
  font-style: var(--body-text-font-style);
  font-weight: var(--body-text-font-weight);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  position: relative;
  bottom: 0.9375rem; /* 15px */
  white-space: nowrap;
  width: fit-content;
}

.navigation .login-signup {
  align-items: center;
  background-color: #38bdf8;
  border-radius: 0.5rem;
  box-shadow: var(--button-shadow);
  display: inline-flex;
  flex: 0 0 auto;
  gap: 0.5rem;
  justify-content: center;
  padding: 0.75rem; /* 14px 24px */
  position: relative;
  bottom: 0.9375rem; /* 15px */
}

.navigation .div {
  color: #32174D;
  font-family: var(--small-text-font-family);
  font-size: var(--small-text-font-size);
  font-style: var(--small-text-font-style);
  font-weight: var(--small-text-font-weight);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  margin-top: -0.0625rem;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.navigation .text-wrapper-2 {
  color:#00ffe0;
  font-family: "Tangerine", cursive;
  font-size: 6rem; /* 64px */
  font-weight: 500;
  height: 6rem; /* 96px */
  left: 1.6vw; /* 23px */
  letter-spacing: 0;
  line-height: 6rem; /* 96px */
  position: absolute;
  top: 2vh; /* 18px */
  white-space: nowrap;
}
