.favourites-container {
  padding: 1.5rem; /* 24px */
  max-width: 90vw;
  margin: 2rem auto;
  position: relative;
  margin-bottom: 4rem;
}

.favourites-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem; /* 24px */
}

.favourite-card {
  display: flex;
  padding: 1rem; /* 16px */
  align-items: center;
  min-height: 14rem;
  min-width: 21rem;
}

.favourite-image {
  width: 6.25rem; /* 100px */
  height: 6.25rem; /* 100px */
  border-radius: 0.5rem; /* 8px */
  margin-right: 1rem; /* 16px */
}

.favourite-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
