.profile-pic {
    border: 0.1875rem solid #0b0b0b;
    border-radius: 0.75rem;
    width: 25rem;
    margin: 1rem 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    margin-bottom: 14rem;
    margin-top: 10rem;
    height: 33rem;
    left: 8rem;
}

.profile-pic .image {
    background: linear-gradient(0deg, rgba(247,247,247,1), rgba(247,247,247,1));
    border: 0.3125rem solid black;
    border-radius: 0.75rem;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    width: 100%;
    height: auto;
    aspect-ratio: 419 / 499;
    object-fit: cover;
    position: inherit;
}

.profile-pic .text-wrapper {
    margin-top: 1rem;
    color: black;
    font-family: "Inter-Medium", Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.875rem;
    text-align: center;
    text-decoration: underline;
    text-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    width: 100%;
    position: inherit;
}
