.profile-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    height: auto;
    position: relative;
    width: 100vw;
}

.profile-page .div-3 {
    min-height: 100vh;
    height: auto;
    position: relative;
    width: 100vw;
}

.profile-page .container {
    display: flex;
    width: 100vw;
    height: auto;
    gap: 6rem;
}