.event {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* or center, space-between, etc. as you want */
    width: 100%;
    min-height: 100vh;
    /* at least full viewport height */
    height: auto;
}

.event .div-5 {
    height: 100%;
    position: relative;
    width: 100%;
}